
@{
    ViewData["Title"] = "Contact";
}
    <link href="~/css/ContactStyle.css" rel="stylesheet" />
<h1>@ViewData["Title"]</h1>
<div id="doc" align="center">
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vRguERbK3W3TQsHcY-vq9ftuK3bZ4DCOV-hAHrGHhC7qOcK5UjA-RtDsT6pX61DgHOnEmn7T9GlGo2t/pub?embedded=true"></iframe>
</div>