
@{
    ViewData["Title"] = "Byte Jam 2017- Unity Game: Escape The Harbinger";
}
<head><link href="~/css/ETHStyle.css" rel="stylesheet" /></head>
<h1>@ViewData["Title"]</h1>
<div class="mainContent">
    <div id="article">
        <h2>The Project:</h2>
        <p>Our class of programming students were divided into 6 man teams and tasked to develop an idea they made.
         My team's idea was to create a top down level based avoidance game. We used Visual Studios C# and Unity to build our game.
        We managed our work through Scrum meetings with daily standups each member would describe what they worked on the day before
        and if they needed help to make progress.</p>
    </div>
    <img id="keyImages" src="~/Images/EscapeTheHarbinger.png"/>
</div>
<div class="mainContent">
    <div id="article">
        <h2>The Learning:</h2>
        <p>During this year of our highschool programming class we had been learning Java. Since our idea needed us to write C# we spend our
        early development time learning some C# syntax and Unity syntax. After our short time studying we proceeded to build our first level
        of the game as a first working demo.
        </p>
    </div>
    <img id="keyImages" src="~/Images/ETHLVL1.png" />
</div>
<div class="mainContent">
    <div id="article">
        <h2>Finished Product:</h2>
        <p>As we we completed our initial scope of the project we expanded our options for building the game. We decided to add more levels
        and difficulties to give our users the option to be able to view the entire product casually. But we also added a harder difficulties
        to give other users a more challenging experience as they master the rules of the game. Our finished product included 3 levels with 3
        difficulties, animations, and sound effects.</p>
    </div>
    <img id="keyImages" src="~/Images/ETH.png" />
</div>