@{
    ViewData["Title"] = "Home Page";
}
    <link href="~/css/HomeStyle.css" rel="stylesheet" />
    <div id="article">
        <h2>About Me</h2>
        <img src="~/Images/PapaBobPizzaOrderCode.PNG" />
        <p>
            I'm a student at Indian Hills Community College studying Computer Software development.
            I'm from Macon, Missouri and have come to Iowa to further my education and seek employment after college.
            My goal for employment is to find a company that I can create for and learn while working as a software developer.
        </p>
    </div>
