
@{
    ViewData["Title"] = "Class Web Project 2018- Papa Bob's Plus";
}
<link href="~/css/BobStyle.css" rel="stylesheet" />
<h1>@ViewData["Title"]</h1>
<div id="article">
    <p>
        The task of this project was to develop a working order form for a pizza buisness called Papa Bob's.
        This was a challenge for us to develop using all of the skills we'd learned from our class.
        We used Visual Studios to build a web form to enter information about their order.
        As they entered their order parts of the page would reveal depending on what their order was.
    </p>
</div>
<img src="~/Images/PapaBobOrderBefore.png" alt="Papa Bob's Order Form Before">
<div id="article">
    <p>
        In the image below they have chosen to order two pizzas so the page reveals the forms for two seperate
        pizzas. On these order forms customers may chose the toppings, crust type, and size of their pizza.
    </p>
</div>
<img src="~/Images/PapaBobsOrderAfter.PNG" alt="Papa Bob's Order Form After">
<div id="article">
    <p>
        The information from the order form is stored within a static class to calculate the totals for the pizzas for our
        invoice page. This information is displayed for the customers as well as the price for pizza orders.
    </p>
</div>
<img src="~/Images/PapaBobsInvoice.PNG" alt="Papa Bob's Invoice">