
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>


<div id="content">
    <div id="article">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ETH"><h2>Byte Jam 2017- Unity Game: Escape The Harbinger</h2></a>
        <p>
            This was my first Unity Game I worked  together with a team of 6 to create.
            We used C# to program the game for Byte Jam that year. We placed third within the
            high school division.
        </p>
    </div>
    <div id="article">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PapaBobs"><h2>Class Web Project 2018- Papa Bob's Plus</h2></a>
        <p>
            The task of this project was to develop a working order form for a pizza buisness called Papa Bob's.
            This was a challenge for us to develop using all of the skills we'd learned from our class.
            We used Visual Studios to build a web form to enter information about their order.
            As they entered their order parts of the page would reveal depending on what their order was.
        </p>
    </div>
</div>